*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}
:root{
	--bg-color: #fef9ef;
	--text-color: #6d737a;
	--main-color: #27dfa4;
}
body{
	position: relative;
	min-height: 100vh;
	background: #fef9ef;
	color: var(--text-color);
}
header{
	position: relative;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #ffffff;
	padding: 28px 12%;
	transition: all .50s ease;
	border-bottom: 2px solid #e7e9eb;
}
.logo{
	display: flex;
	align-items: center;
}
.logo i{
	color: var(--main-color);
	font-size: 28px;
	margin-right: 3px;
}
.logo span{
	color: var(--text-color);
	font-size: 1.7rem;
	font-weight: 600;
}
.navbar{
	display: flex;
}
.navbar a{
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	padding: 5px 0;
	margin: 0px 30px;
	transition: all .50s ease;
}
.navbar a:hover{
	color: var(--main-color);
}
.navbar a.active{
	color: var(--main-color);
}
.main{
	display: flex;
	align-items: center;
}
.main a{
	margin-right: 25px;
	margin-left: 10px;
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	transition: all .50s ease;
}
.user{
	display: flex;
	align-items: center;
}
.user i{
	color: var(--main-color);
	font-size: 28px;
	margin-right: 7px;
}
.main a:hover{
	color: var(--main-color);
}
#menu-icon{
	font-size: 35px;
	color: var(--text-color);
	cursor: pointer;
	z-index: 10001;
	display: none;
}

/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.container{
    position: absolute;
    max-width: 430px;
    width: 100%;
    background: #33ecb5;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 8% 250px;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form{
    width: 50%;
    padding: 30px;
    background-color: #f7f7f7;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
    height: 600px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #27dfa4;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #20b486;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #27dfa4;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #27dfa4;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #27dfa4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #25c794;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color:#1a916b;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}

@media (max-width: 1280px){
	header{
		padding: 14px 2%;
		transition: .2s;
	}
	.navbar a{
		padding: 5px 0;
		margin: 0px 20px;
	}
}

@media (max-width: 1090px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 270px;
		height: 29vh;
		background: var(--main-color);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 10px;
		transition: all .50s ease;
	}
	.navbar a{
		display: block;
		margin: 12px 0;
		padding: 0px 25px;
		transition: all .50s ease;
	}
	.navbar a:hover{
		color: var(--text-color);
		transform: translateY(5px);
	}
	.navbar a.active{
		color: var(--text-color);
	}
	.navbar.open{
		right: 2%;
	}
}







.slider{

	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #23E3C9;
	margin: 8% 1000px;
  }
  
  .slider{
	width: 800px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
  }
  
  .slides{
	width: 500%;
	height: 500px;
	display: flex;
  }
  
  .slides input{
	display: none;
  }
  
  .slide{
	width: 20%;
	transition: 2s;
  }
  
  .slide img{
	width: 800px;
	height: 500px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
	position: absolute;
	width: 800px;
	margin-top: 400px;
	display: flex;
	justify-content: center;
  }
  

  
  .manual-btn:not(:last-child){
	margin-right: 40px;
  }
  
  .manual-btn:hover{
	background: #dc4040;
  }
  
  #radio1:checked ~ .first{
	margin-left: 0;
  }
  
  #radio2:checked ~ .first{
	margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
	margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
	margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{

	width: 800px;
	margin-top: 400px;
	display: flex;
	justify-content: center;
	transition: 1s;
  }
  

  

  .navigation-auto div:not(:last-child){
	margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
	background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
	background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
	background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
	background: #40D3DC;
  }