{% load static %}
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Silid Aralan</title>
	<link rel="stylesheet" type="text/css" href="static/css/login.css">

	<link href="static/https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

	<link rel="stylesheet"
  href="static/https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="static/https://fonts.googleapis.com">
  <link rel="preconnect" href="static/https://fonts.gstatic.com" crossorigin>
  <link href="static/https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- ===== Iconscout CSS ===== -->
  <link rel="stylesheet" href="static/https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="static/css/log.css">
       
  <!--<title>login & Registration Form</title>-->

</head>
<header>
		<a href="#" class="logo"><span>Silid Aralan</span></a>

        <ul class="navbar">
			<li><a href="index.html" >Home</a></li>
			<li><a href="#">FAQs</a></li>
			<li><a href="#">Privacy and Policy</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
    </header>
<body>

	

        <div class="container">
            <div class="forms">
                <div class="form login">
                    <span class="title">Login</span>
    
                    <form action="#">
                        <div class="input-field">
                            <input type="text" placeholder="Enter your email" required>
                            <i class="uil uil-envelope icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" class="password" placeholder="Enter your password" required>
                            <i class="uil uil-lock icon"></i>
                            <i class="uil uil-eye-slash showHidePw"></i>
                        </div>
    
                        <div class="checkbox-text">
                            <div class="checkbox-content">
                                <input type="checkbox" id="logCheck">
                                <label for="logCheck" class="text">Remember me</label>
                            </div>
                            
                            <a href="#" class="text">Forgot password?</a>
                        </div>
    
                        <div class="input-field button">
                            <input type="button" value="Login">
                        </div>
                    </form>
    
                    <div class="login-signup">
                        <span class="text">Not a member?
                            <a href="#" class="text signup-link">Signup Now</a>
                        </span>
                    </div>
                </div>
    
                <!-- Registration Form -->
                <div class="form signup">
                    <span class="title">Registration</span>
    
                    <form action="#">
                        <div class="input-field">
                            <input type="text" placeholder="Enter your name" required>
                            <i class="uil uil-user"></i>
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="Enter your email" required>
                            <i class="uil uil-envelope icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" class="password" placeholder="Create a password" required>
                            <i class="uil uil-lock icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" class="password" placeholder="Confirm a password" required>
                            <i class="uil uil-lock icon"></i>
                            <i class="uil uil-eye-slash showHidePw"></i>
                        </div>
    
                        <div class="checkbox-text">
                            <div class="checkbox-content">
                                <input type="checkbox" id="termCon">
                                <label for="termCon" class="text">I accepted all terms and conditions</label>
                            </div>
                        </div>
    
                        <div class="input-field button">
                            <input type="button" value="Signup">
                        </div>
                    </form>
    
                    <div class="login-signup">
                        <span class="text">Already a member?
                            <a href="#" class="text login-link">Login Now</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    
        <!--<script src="script.js"></script>-->

	<!--js link--->
	<script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/loginandsignup.js"></script>


</body>
</html>