<!-- notes_list/notes_app/templates/notes_app/notes_list.html -->
{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <div>
            <h3>Edit list:</h3>
            <h5>{{ notes_list.title|upper}}</h5>
        </div>
        <ul>
            {% for notes in object_list %}
            <li>
                <div>
                    <div role="button" onclick="location.href='{% url "notes-item-update" notes_list.id notes.id %}'">
                        {{ notes.title }}
                        (Due {{ notes.due_date| date:"l, F j" }})
                    </div>
            </li>
            {% empty %}
            <p>There are no note items in this list.</p>
            {% endfor %}
        </ul>
        <p>
            <input value="Add a new note" type="button" onclick="location.href='{% url "notes-item-add" notes_list.id %}'" />
            <input value="Delete this note" type="button"
                onclick="location.href='{% url "notes-list-delete" notes_list.id %}'" />
        </p>
    </div>
</div>
{% endblock %}
