{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silid Aralan</title>
    <link rel="stylesheet" href="static/css/style.css">

    <link rel="stylesheet" href="static/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

    <link href="static/https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">



  <link rel="stylesheet"
  href="static/https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="static/https://fonts.googleapis.com">
  <link rel="preconnect" href="static/https://fonts.gstatic.com" crossorigin>
  <link href="static/https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">

</head>
<header>

	<a href="#" class="logo">
		<img src="static/Images/Title small.png" height="60" width="60" alt="Silid Aralan">
		<span style="color:#20b486"> &nbsp; &nbsp;i- </span>
		<span style="color:#ffc27a"> Silid</span></a>

	<ul class="navbar">
		<li><a href="index.html" >Home</a></li>
		<li><a href="#">FAQs</a></li>
		<li><a href="Policy.html">Privacy and Policy</a></li>
    <li><a href="terms.html">Terms and Conditions</a></li>
		<li><a href="contact.html" class="active">Contact</a></li>
	</ul>

	<div class="main">
		<a href="login.html" class="user"><i class="ri-user-fill" ></i>Login</a>
		<div class="bx bx-menu" id="menu-icon"></div>
	</div>

</header>
  <body1>

    <!--contact section start-->
    <div class="contact-section">
      <div class="contact-info">
        <div><i class="fas fa-map-marker-alt"></i>Daet Camarines Norte</div>
        <div><i class="fas fa-envelope"></i>Machi@gmail.com</div>
        <div><i class="fas fa-phone"></i>+64 number ni parro</div>
        <div><i class="fas fa-clock"></i>Mon - Fri 8:00 AM to 7:00 PM</div>
      </div>
      <div class="contact-form">
        <h2>Contact Us</h2>
        <form class="contact" action="" method="post">
          <input type="text" name="name" class="text-box" placeholder="Your Name" required>
          <input type="email" name="email" class="text-box" placeholder="Your Email" required>
          <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
          <input type="submit" name="submit" class="send-btn" value="Send">
        </form>
      </div>
    </div>
    <!--contact section end-->
    <script type="text/javascript">
    if(window.history.replaceState){
      window.history.replaceState(null, null, window.location.href);
    }
    </script>
    <script type="text/javascript" src="static/js/script.js"></script>
<div>

</div>

  </body1>
</html>