{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Silid Aralan</title>
	<link rel="stylesheet" type="text/css" href="static/css/home.css">
	
	<link href="static/https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

	<link rel="stylesheet"
  href="static/https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="static/https://fonts.googleapis.com">
  <link rel="preconnect" href="static/https://fonts.gstatic.com" crossorigin>
  <link href="static/https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">




</head>
<header>

	<a href="#" class="logo">
		<img src="static/Images\Title small.png" height="60" width="60" alt="Silid Aralan">
		<span style="color:#20b486"> &nbsp; &nbsp;i- </span>
		<span style="color:#ffc27a"> Silid</span></a>

	<ul class="navbar">
		<li><a href="#" class="active">Home</a></li>
		<li><a href="#">FAQs</a></li>
		<li><a href="Policy.html">Privacy and Policy</a></li>
				<li><a href="terms.html">Terms and Conditions</a></li>
				<li><a href="contact.html">Contact</a></li>

	</ul> 

	<div class="main">
		<a href="login.html" class="user"><i class="ri-user-fill"></i>Login</a>
		<div class="bx bx-menu" id="menu-icon"></div>
	</div>

</header>
<!--js link--->
<script type="text/javascript" src="static/js/script.js"></script>
<body>
	<div style="overflow:auto">
		<div class="img">
			<img src="static/Images\Title.png" style ="width:100% float:left" alt="Silid Aralan">
		</div>
		<div>
		  <p id="intro">
			This is a demo box to illustrate the code given in thesitewizard.
			com's tutorial on creating coloured boxes.
		  </p>
		</div>
	  </div>
	
</body>

</html>