{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Silid Aralan</title>
	<link rel="stylesheet" type="text/css" href="static/css/login.css">

	<link href="static/https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

	<link rel="stylesheet"
  href="static/https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="static/https://fonts.googleapis.com">
  <link rel="preconnect" href="static/https://fonts.gstatic.com" crossorigin>
  <link href="static/https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- ===== Iconscout CSS ===== -->
  <link rel="stylesheet" href="static/https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="static/css/login.css">
       
  <!--<title>Login & Registration Form</title>-->

</head>
<header>
    <a href="#" class="logo">
		<img src="static/Images/Title small.png" height="60" width="60" alt="Silid Aralan">
		<span style="color:#27dfa4"> &nbsp; &nbsp;i- </span>
		<span style="color:#ffc27a"> Silid</span></a>

	<ul class="navbar">
		<li><a href="index.html">Home</a></li>
		<li><a href="#">FAQs</a></li>
		<li><a href="Policy.html">Privacy and Policy</a></li>
		<li><a href="contact.html">Contact</a></li>
	</ul> 
</header>
<body>

	

        <div class="container">
            <div class="forms">
                <div class="form login">
                    <span class="title">Login</span>
    
                    <form action="#">
                        <div class="input-field">
                            <input type="text" placeholder="Enter your email" required>
                            <i class="uil uil-envelope icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" class="password" placeholder="Enter your password" required>
                            <i class="uil uil-lock icon"></i>
                            <i class="uil uil-eye-slash showHidePw"></i>
                        </div>
    
                        <div class="checkbox-text">
                            <div class="checkbox-content">
                                <input type="checkbox" id="logCheck">
                                <label for="logCheck" class="text">Remember me</label>
                            </div>
                            
                            <a href="#" class="text">Forgot password?</a>
                        </div>
    
                        <div class="input-field button">
                            <input type="button" value="Login">
                        </div>
                    </form>
    
                    <div class="login-signup">
                        <span class="text">Not a member?
                            <a href="#" class="text signup-link">Signup Now</a>
                        </span>
                    </div>
                </div>
    
                <!-- Registration Form -->
                <div class="form signup">
                    <span class="title">Registration</span>
    
                    <form action="#">
                        <div class="input-field">
                            <input type="text" placeholder="Enter your name" required>
                            <i class="uil uil-user"></i>
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="Enter your email" required>
                            <i class="uil uil-envelope icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" class="password" placeholder="Create a password" required>
                            <i class="uil uil-lock icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" class="password" placeholder="Confirm a password" required>
                            <i class="uil uil-lock icon"></i>
                            <i class="uil uil-eye-slash showHidePw"></i>
                        </div>
    
                        <div class="checkbox-text">
                            <div class="checkbox-content">
                                <input type="checkbox" id="termCon">
                                <label for="termCon" class="text">I accepted all terms and conditions</label>
                            </div>
                        </div>
    
                        <div class="input-field button">
                            <input type="button" value="Signup">
                        </div>
                    </form>
    
                    <div class="login-signup">
                        <span class="text">Already a member?
                            <a href="signup.html" class="text login-link">Login Now</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>


   
            
        
    <div class="slider">
        <div class="slides">
          <!--radio buttons start-->
          <input type="radio" name="radio-btn" id="radio1">
          <input type="radio" name="radio-btn" id="radio2">
          <input type="radio" name="radio-btn" id="radio3">
          <input type="radio" name="radio-btn" id="radio4">
          <!--radio buttons end-->
          <!--slide images start-->
          <div class="slide first">
            <img src="static/Images\302275206_8022802764459354_4283622563682486221_n - Copy.png" alt="">
          </div>
          <div class="slide">
            <img src="static/Images\299235689_787832629028229_3771400917766474415_n - Copy.jpg" alt="">
          </div>
          <div class="slide">
            <img src="static/Images\302275206_8022802764459354_4283622563682486221_n.png" alt="">
          </div>
          <div class="slide">
            <img src="static/Images\299235689_787832629028229_3771400917766474415_n.jpg" alt="">
          </div>
          <!--slide images end-->
          <!--automatic navigation start-->
          <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
          </div>
          <!--automatic navigation end-->
        </div>
        <!--manual navigation start-->
        <div class="navigation-manual">
          <label for="radio1" class="manual-btn"></label>
          <label for="radio2" class="manual-btn"></label>
          <label for="radio3" class="manual-btn"></label>
          <label for="radio4" class="manual-btn"></label>
        </div>
        <!--manual navigation end-->
      </div>
      <!--image slider end-->
  
      <script type="text/javascript">
      var counter = 1;
      setInterval(function(){
        document.getElementById('radio' + counter).checked = true;
        counter++;
        if(counter > 4){
          counter = 1;
        }
      }, 5000);
      </script>
    
        <!--<script src="script.js"></script>-->

	<!--js link--->
	<script type="text/javascript" src="static/js/script.js"></script>
    <script type="text/javascript" src="static/js/loginandsignup.js"></script>


</body>
</html>